

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  background-color: white;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  position:fixed;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


html, body{
    background-attachment: fixed; 
    background-position: center center; 
    background-size: cover;
    background-image: url(./img/FONDO-NUEVO.jpg);
    overflow-x: hidden;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* background-color: #f2793c; */

}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;

}

.container-premio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 700px;
    margin-top: -250px;
    margin-bottom: -320px;
    animation:backInDown;
    animation-duration: 1s; 
}

.premio1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 700px;
    height: 570px;
    margin-left: 100px;
    margin-bottom: -200px; 
} 

.premio2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 430px;
    margin-bottom: -230px;
}

.premio3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 570px;
    margin-left: 90px;
    margin-bottom: -80px;
}


.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: white;
    border-radius: 10px;
    width: 250px;
    height: 55px;
    font-family: 'Pacifico', rubberBand;
    font-size: 16pt;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #1da0d5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a{
    text-decoration: none;
}

.inicio_historias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: white;
    border-radius: 10px;
    width: 250px;
    height: 55px;
    font-family: 'Pacifico', rubberBand;
    font-size: 16pt;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #f2793c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 40px;
}

.lista{
    color: white;
    font-size: 13pt;
    font-family: 'Righteous', cursive;
    margin: 10px;
}

.ing{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    margin-bottom: -10px;
}


.footer{
color: white; 
font-family: Arial, Helvetica, sans-serif;
font-size: small; 
margin-top: 40px;
}

.link{
    color:#f2793c; 
}


.flecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 100px;
    margin-top: -40px;
    animation: movimiento 2s linear infinite;
}


@keyframes movimiento{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(30px);
    }

    100%{
        transform: translateY(0);
    }

}



@media (min-width: 1920px) {

    .container-premio{
        flex-direction: row;
        justify-content:space-around;
        gap: 0;
        margin-bottom:-100px;
    }

    .titulo{
        width: 80%;
        height: 80%;
        margin-top: -25%;
        margin-bottom: -25%;
    }

    .premio1{
        flex-direction: row;
        margin: 0;

    }

    .premio2{
        flex-direction: row;
        margin: 0%;
        margin-top: 10px;
    }

    .premio3{
        flex-direction: row;
        margin: 0;
   
    }

    .lista{
        font-size: 15pt;
        text-align:justify
    }

}



@media (min-width: 1669px) {

    .container-premio{
        flex-direction: row;
        justify-content:space-around;
        gap: 0;
        margin-bottom:-100px;
    }

    .titulo{
        width: 80%;
        height: 80%;
        margin-top: -25%;
        margin-bottom: -25%;
    }

    .premio1{
        flex-direction: row;
        margin: 0;

    }

    .premio2{
        flex-direction: row;
        margin: 0%;
    }

    .premio3{
        flex-direction: row;
        margin: 0;
   
    }

}


/* ////////////////////////////////////////// comentario ////////////////////////////////// */


.logo4{
    width: 400px;
    height: 400px;
    margin-top: -50px;
    margin-bottom: -320px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.container_comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 60%);
    width: auto;
    height: auto;
    margin-top: 30px;
    border-radius: 8px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.titulo2{
    display: flex;
    flex-direction: column;
    text-align:center;
    font-size: 40pt;
    font-family: 'Righteous', cursive;
    margin-top: 200px;
    color:  rgba(255, 255, 255);
}


.caja{
    display: flex;
    max-width: 500px;
    min-width: 500px;
    min-height: 150px;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  rgba(4, 84, 111, 0.821);
    font-size: 12pt;
    outline: none;
    border: 1px solid #f2793c; ;
    background: none;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    
}


.boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1da0d5;
    font-family: 'Righteous', cursive;
    font-size: 18pt;
    text-decoration: none;
    width: 520px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 505px;
    height: 40px;
    margin: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgba(9, 59, 119, 0.821);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    padding: 10px;
    margin-bottom: -20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.telefono{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 505px;
    height: 40px;
    margin: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgba(9, 59, 119, 0.821);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    padding: 10px;
    margin-bottom: -20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 40px;
    margin: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgba(9, 59, 119, 0.821);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.footer2{
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-top: 60px;
 }

 ::placeholder{
    font-size: 13pt;
    opacity: 0.5;
 }


@media(max-width: 1920px  )  {

    .logo4{
        margin-bottom: -150px;
        width: 220px;
        height: 220px;
    }

    .container_comentario{
        width: 95%;
    }

    .nombre{
        width: 300px;
        height: 30px;
    }


    .telefono{
        width: 300px;
        height: 30px;
    }


    .nombre-user{
        width: 500px;
        height: 30px;
    }


    .caja{
        max-width: 300px;
        min-width: 300px;
        min-height: 100px;
    }

    .boton{
        width: 310px;
        font-size: 18px;
    }

    .titulo2{
        font-size: 40px;
        margin-bottom: -10px;
        margin-top: 100px;
    }

    .footer2{
        color: white; 
        font-family: Arial, Helvetica, sans-serif;
        font-size: small; 
        padding-top: 50px;
        
    }

    ::placeholder{
       font-size: 10pt;
       opacity: 0.5;
    }
        

}




 @media(min-width: 418px ) {

    .logo4{
        margin-bottom: -150px;
        width: 220px;
        height: 220px;
    }

    .container_comentario{
        width: 500px;
    }

    .padre{
        width: 400px;
        height: 40px;
    }

    .nombre{
        width: 400px;
        height: 40px;
    }


    .telefono{
        width: 400px;
        height: 40px;
    }


    .nombre-user{
        width: 500px;
        height: 30px;
    }


    .caja{
        max-width: 390px;
        min-width: 390px;
        min-height: 100px;
    }

    .boton{
        width: 420px;
        font-size: 20px;
    }

    .titulo2{
        font-size: 40px;
        margin-bottom: -10px;
        margin-top: 100px;
    }

    .footer2{
        color: white; 
        font-family: Arial, Helvetica, sans-serif;
        font-size: small; 
        padding-top: 50px;
        
    }

    ::placeholder{
       font-size: 10pt;
       opacity: 0.5;
    }
        

}
 


/* ////////////////////////////////////////////////final////////////////////////////////// */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}


.container-cuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    background-color: rgba(255, 255, 255, 80%);
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}

.container-hora-user{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    height: auto;
    margin-top: -15px;
    
}

.conten-votos{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 100%;
    height: auto;
    gap: 20px;
    margin-top: -15px;

}


.Usuario{
    display: flex;
    flex-direction: column;
    color:#f2793c;
    font-size: 22px;
    font-family: 'Righteous' , cursive;
}

.fecha{
    display: flex;
    flex-direction: column;
    color:#063f54;
    font-size: 13px;
    font-family: 'Righteous' , cursive;
}

.hora{
    display: flex;
    flex-direction: column;
    color:#063f54;
    font-size: 13px;
    font-family: 'Righteous' , cursive;
    margin-right: 10px;
}

.texto-final{
    display: flex;
    flex-direction: column;
    color: rgb(1, 77, 102);
    font-size: 14px;
    font-family: 'Righteous' , cursive;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


}

.bola{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:75px;
   width:75px;
   -moz-border-radius:50px;
   -webkit-border-radius:50px;
   border-radius:50px;
   margin-bottom: -18px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   /* background-image: linear-gradient(175deg, #00ffff 0, #39ffff 25%, #53bcf2 50%, #4e7ea0 75%, #3c4b5a 100%); */

}

.nombre_comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-family: 'Righteous' , cursive;
    margin-bottom: -15px;
    color:#063f54;

}

.user_comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-family: 'Righteous' , cursive;
    margin-bottom: 15px;
    color:rgba(255, 167, 73,60%);

}

.conten_botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.Crear2_final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
    border-radius: 10px;
    width: 170px;
    height: 45px;
    font-family: 'Pacifico', rubberBand;
    font-size:15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: rgb(120, 178, 4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
}

.votar2_fina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 170px;
    height: 45px;
    font-family: 'Pacifico', rubberBand;
    font-size: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #03435d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;

}

.historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
    border-radius: 10px;
    width: 170px;
    height: 45px;
    font-family: 'Pacifico', rubberBand;
    font-size: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #1da0d5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
}

.compartir{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: 'Righteous' , cursive;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(6, 54, 77);
    margin-top: -10px;
}

.app_compartir{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: -80px;
    border-radius: 50%;
    background-color:#f2793c;
    border: solid 4px #ffffff;
    margin-top: -15px;
    margin-bottom: 15px;
}

.img_app{
    display: flex;
    width: 30px;
    height: 30px;

}

.votos{
    display: flex;
    flex-direction: row;
    width: 18px;
    height: 18px;
    margin-top: 24px;
    
}

.contador{
    display: flex;
    font-size: 14px;
    font-family: 'Righteous' , cursive;
    color:#063f54;
    margin-top: 23px;
    margin-left: -13px;
    
}

.nota{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 12pt;
    font-family: 'Righteous' , cursive;
    padding: 30px;
    border-radius: 5px;
    width: 90%;
    text-align: justify;
    margin-bottom: -50px;
}

.footer3{
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-top: 140px;
 }




@media(min-width:419px){

    .container-cuadro{
        width: 100%;
        height: auto;
        margin-top: 10%;
    }

    .texto-final{
        width: 95%;
    }

    .container-hora-user{
        justify-content: center;
        gap: 10px;
    }
    .votos{
        margin-left: 5px;
        
    } 

    .fecha{
        margin-right: 5px;
    }

    .nota{
        align-items: center;
        width: 538px;
        text-align: justify;
    }

    .footer3{
        margin-top: 11%;
        font-size: large;
    }

    
.Crear2_final{
    font-size: 16pt;
}

.votar2_fina{
    font-size: 16pt;
}

.historia{
    font-size: 16pt;
}

    
} 



@media(min-width:559px){

    .container-cuadro{
        width: 500px;
        height: auto;
        margin-top: 10%;
    }

    .texto-final{
        width: 95%;
    }

    .container-hora-user{
        justify-content: center;
        gap: 10px;
    }
    .votos{
        margin-left: 5px;
        
    } 

    .fecha{
        margin-right: 5px;
    }

    .nota{
        align-items: center;
        width: 538px;
        text-align: justify;
    }

    .footer3{
        margin-top: 11%;
        font-size: large;
    }

    
.Crear2_final{
    font-size: 16pt;
}

.votar2_fina{
    font-size: 16pt;
}

.historia{
    font-size: 16pt;
}

    
} 

/* /////////////////////////////////////////historias/////////////////////////////// */

.container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    /* background-color: brown; */
}

.conten_genera_pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* background-color: brown; */
}



.conten_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #00435e;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 70px;
   
}

.home{
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
}

.contec_buscar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 70px;
    gap: 5px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #ffffff;
}

.boton_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #ffffff;
    color: #063f54;
    font-family: 'Righteous' , cursive;
    width: 80px;
    height: 45px;
    font-size: 17px;
    margin-left: -55px;
    border: none;
}

.Mi_voto{
    display: flex;
    background-color: #1da0d5;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    font-family: 'Righteous' , cursive;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    margin-top: -30px;
}

.conten_contar_historia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom:70px;
    margin-top: -30px;
}

.conten_filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    width: 60px;
    height: 10px;
    height: 45px;
    margin-left: -10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.conte_cont_historias{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 5px;
    margin-bottom: 50px;
}

.cont_his{
    display: flex;
    font-size: 14pt;
    color: #103249;
    font-weight: bold;
    font-family: 'Righteous' , cursive;
    margin: 0%; 
}

.cont1{
    display: flex;
    font-size: 12pt;
    color: #103249;
    font-weight: bold;
    font-family: 'Righteous' , cursive;
    margin: 0%;

}

.img_filtre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px; 
    cursor: pointer;   
}

.contar_historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous' , cursive;
    font-size: 13px;
    align-items: center;
    background-color: rgb(120, 178, 4);
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 5px;
    margin-right: 23px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-top: -30px;
}

.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 35px;

}

.historias_final{
    display: flex;
    flex-direction: column;
    color: rgb(1, 77, 102);
    font-size: 12pX;
    font-family: 'Righteous' , cursive;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 80%);
}

.conten_bola{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    width: 100%;
    height: auto;
    margin-bottom: -40px;
    gap: 15px;
}

.bola2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:40px;
    width:45px;
   -moz-border-radius:50px;
   -webkit-border-radius:50px;
    border-radius:50px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   /* background-image: linear-gradient(175deg, #00ffff 0, #39ffff 25%, #53bcf2 50%, #4e7ea0 75%, #3c4b5a 100%); */
}

.conten_fecha_final{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 10px;

}

.nombre_final{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Righteous' , cursive;
    margin-top: -10px;
}

.fecha_final{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgba(255, 255, 255,50%);
    font-family: 'Righteous' , cursive;
    margin-top: -15px;
    font-size: 8pt;
}

.conten_Gnl_final{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}

.conten_voto_final{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
    height: auto;
    margin-right: 13px;
    margin-top: -35px;
    gap: 5px;
}

.corazon_final{
    display: flex;
    flex-direction: row;
    width: 19px;
    height: 19px;
}

.conten_ver_Votar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-right: 15px;
}

.votar_historia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1da0d5;
    width: 60px;
    height: 25px;
    margin-top: -5px;
    border-radius: 20px;
    font-family: 'Righteous' , cursive;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.votar_hiden{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8c8c8c;
    width: 60px;
    height: 25px;
    margin-top: -5px;
    border-radius: 20px;
    font-family: 'Righteous' , cursive;
    color: white;
    cursor: pointer;

}

.contador_final{
    display: flex;
    margin-top: -3px;
    font-family: 'Righteous' , cursive;
    color: white;
    font-size: 15pt;
}

.contn_volver{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: auto;
    align-items: center;
    margin-top: 50px;
}

.volver{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #f2793c;
    font-family: 'Righteous' , cursive;
    font-size: 15pt;
    text-decoration: none;
    width: 250px;
    height: 55px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}



    .ver_mas{
        display: flex;
    flex-direction: column;
    color: rgb(255, 152, 56);
    padding: 5px;
    margin-top: 3px;
    width: 60px;
    border-radius: 5px;
    font-size: 12px;

}

.container_ver_mas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.mas_hisrias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Righteous' , cursive;
    background-color: rgb(255, 152, 56);
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin-top: -20px;
    cursor: pointer;
}


.label-span{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
}

@media(min-width: 1920px){

    .conten_bola{
        width:600px;
    }

    .fondo{
        width: 575px;
    }

    .conten_ver_Votar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        margin-top: -20px;
    }
    
    .conten_Gnl_final{
        width:620px;
        margin-top: 20px;
    }

    .conten_voto_final{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width:100%;
        height: auto;
        margin-top: -60px;

    }
    
    .corazon_final{
        display: flex;
        width: 19px;
        height: 19px;
    }

    .conten_ver_Votar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 598px;
        height: auto;
    }

    .conten_bola{
        margin-bottom: -20px;
        gap: 15px;
    }    

}



@media(min-width: 632px){

    .conten_bola{
        width:600px;
    }

    .fondo{
        width: 575px;
    }

    .conten_ver_Votar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        margin-top: -20px;
    }
    
    .conten_Gnl_final{
        width:620px;
        margin-top: 20px;
    }

    .conten_voto_final{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width:100%;
        height: auto;
        margin-top: -60px;

    }
    
    .corazon_final{
        display: flex;
        width: 19px;
        height: 19px;
    }

    .conten_ver_Votar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 598px;
        height: auto;
    }

    .conten_bola{
        margin-bottom: -20px;
        gap: 15px;
    }

    .mas_hisrias{
        margin-bottom: 70px;
        border-radius: 5px;
        margin-top: -20px;
        width: 150px;
        height: 45px;
    }
    

    
    
    

}


